<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959223919697-bcnbjqoae2jeulb104rnoornlj90q2so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959223919697-bcnbjqoae2jeulb104rnoornlj90q2so</string>
	<key>API_KEY</key>
	<string>AIzaSyCjlCHccIZYmJLE6pkOGFeFNCQ9xvw3PTc</string>
	<key>GCM_SENDER_ID</key>
	<string>959223919697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woomi.smarthome</string>
	<key>PROJECT_ID</key>
	<string>woomi-smart-home-656a3</string>
	<key>STORAGE_BUCKET</key>
	<string>woomi-smart-home-656a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959223919697:ios:5079924c713999170d7470</string>
</dict>
</plist>